<div fxLayout="row">
  <div fxFlex="93">
    <h2>Employee Form</h2>
  </div>

  <div fxFlex>
    <button mat-raised-button [mat-dialog-close]="false" color="warn">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div fxLayout="row" class="p-3 mt-1" fxLayoutGap="7px">
  <mat-card fxFlex class="">
    <form [formGroup]="formGroup" autocomplete="off">
      <div fxLayout="row wrap" fxLayoutGap="2em">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>First Name</mat-label>
          <input
            matInput
            type="text"
            id="firstName"
            formControlName="firstName"
            required
          />
          <mat-error *ngIf="firstName?.hasError('required')">
            First name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            type="text"
            id="lastName"
            formControlName="lastName"
            required
          />
          <mat-error *ngIf="lastName?.hasError('required')">
            Last name is required
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="2em">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Gender</mat-label>
          <mat-select matInput name="gender" formControlName="gender" required>
            <mat-option>---select---</mat-option>
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
            <mat-option value="others">Others</mat-option>
          </mat-select>
          <mat-error *ngIf="gender?.hasError('required')">
            Gender is required
          </mat-error>
        </mat-form-field> <mat-form-field fxFlex appearance="outline">
          <mat-label>Phone</mat-label>
          <input
            matInput
            type="text"
            id="phone"
            formControlName="phone"
            required
          />
          <mat-error *ngIf="phone?.hasError('required')">
            Phone is required
          </mat-error>
        </mat-form-field>

      </div>
      <div fxLayout="row wrap" fxLayoutGap="2em">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Department</mat-label>
          <mat-select
            matInput
            name="departmentId"
            formControlName="departmentId"
            required
          >
            <mat-option>---select---</mat-option>
            <mat-option *ngFor="let item of departments" [value]="item.id">
              {{ item.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="departmentId?.hasError('required')">
            Department is required
          </mat-error>
        </mat-form-field>
           <mat-form-field fxFlex appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            id="email"
            formControlName="email"
            required
          />
          <mat-error *ngIf="email?.hasError('required')">
            Email is required
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="2em">
         <mat-form-field fxFlex appearance="outline">
          <mat-label>Hired Date</mat-label>
          <input
            autocomplete="off"
            matInput
            type="text"
            [matDatepicker]="date"
            [max]="minDate"
            formControlName="hiredDate"
            required
            (click)="date.open()"
            readonly
          />
          <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
          <mat-error *ngIf="hiredDate?.hasError('required')">
            Hired Date is required
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex appearance="outline">
          <mat-label>Address</mat-label>
          <input
            matInput
            type="text"
            id="address"
            formControlName="address"
            required
          />
          <mat-error *ngIf="address?.hasError('required')">
            Address is required
          </mat-error>
        </mat-form-field>
      </div>
      <mat-card-actions align="end">
        <div fxLayout="row" layout-align="start center">
          <button mat-raised-button color="warn" (click)="clear()">
            Clear
          </button>
          <button
            mat-raised-button
            color="primary"
            [disabled]="!formGroup.valid"
            (click)="save()"
          >
            <mat-label> {{ data ? "Update" : "Save" }} </mat-label>
          </button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
